body {
	background: blue;
  	max-width: 600px;
 	margin-left: auto;
  	margin-right: auto;
}
 
body, a {
  	font-family: sans-serif;
  	color: white;
}
header{
	background:#2CAD6A;
}
button{
	margin-top: 10px;
	margin-left: 55px;
	margin-right: 55px;
	color: white;
	background: black;
}
.sin{
	text-decoration: none;
}